@use "../base/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;

.header {
    padding: 1rem 3rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //import animations
    @include scaleInBounce;
    @include fadeInDown;

    .logo {
        z-index: 100;
        max-width: 8rem;
        height: auto;
        transition: transform 0.3s ease, opacity 0.3s ease; // logo hover effect ease
        opacity: 1;

        // hover effect for logo
        &:hover {
            transform: scale(1.1);
            filter: grayscale(0);
            opacity: 0.8;
        }

        // container for animated logo
        .animation-container {
            width: 128px;
            height: 128px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-content: center;
        }



        .static-logo {
            animation: scaleInBounce 0.5s ease-out forwards;
        }

        // static logo
        img {
            width: 100%;
            height: auto;
        }
    }

    // navigation styling
    nav {
        z-index: 100;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                margin-left: 2rem;
                opacity: 0; // Start with nav items hidden
                transform: translateY(-20px);
                animation: fadeInDown 1s ease forwards;

                &:nth-child(1) {
                    animation-delay: 0.5s;
                }

                &:nth-child(2) {
                    animation-delay: 0.8s;
                }

                a {
                    color: $secondary-colour;
                    text-decoration: none;
                    position: relative;
                    display: inline-block;
                    padding: 0.5rem 0;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 0;
                        height: 2px;
                        background-color: black;
                        transform: translateY(-50%);
                        transition: width 0.3s ease, left 0.3s ease;
                    }

                    &:hover::after,
                    &:focus::after,
                    &.active::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
}



// Media Query for viewports of 550px or less
@media (max-width: 550px) {
    .header {
        flex-direction: column;
        padding: 1rem 0 0 0;


        .logo {
            margin: 0;
            padding: 0;
        }

        nav {
            ul {
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;

                li {
                    margin: 0;
                }
            }
        }
    }
}