@use "../base/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/functions" as *;

.about-container {
    padding: 1.25rem;
    margin: 0 auto;

    @include fadeInRight;
    @include fadeInLeft;
    @include fadeInDown;
    @include fadeInUp;

    .main-content {
        h1 {
            margin-bottom: 2rem;
            text-align: center;
            animation: fadeInRight 2s ease forwards;
        }

        h2 {
            margin: 3rem 1rem;
            text-align: center;
        }

        h3 {
            margin-bottom: 1rem;
            font-weight: 600;
        }

        // social icons
        .social-links {
            margin: 1rem 0 1rem;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            gap: 20px;
            opacity: 0;
            animation: fadeInUp 2s ease forwards;
            animation-delay: 2.2s;


            a {
                color: inherit;
                transition: color 0.3s ease;

                &:hover,
                &:focus {
                    color: lighten($secondary-colour, 25%);
                }
            }
        }

        .content-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            // intro and img
            .intro {
                max-width: 60rem;
                display: flex;
                gap: 2rem;

                img {
                    max-width: 300px;
                    height: auto;
                    opacity: 0;
                    animation: fadeInUp 1.2s ease forwards;
                    animation-delay: 0.8s;
                }

                p, h3 {
                    opacity: 0;
                    animation: fadeInLeft 1.2s ease forwards;
                    animation-delay: 1.2s;
                }
            }

            // tech stack section
            .tech-stack {
                opacity: 0;
                animation: fadeInUp 2s ease forwards;
                animation-delay: 2.6s;
                

                h3{
                    margin-top: 3rem;
                    text-align: center;
                }

                .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
                    display: flex;
                    flex-wrap: wrap;      
                    justify-content: center;
                    max-width: em(1200);

                    
                    // individual tech stack element
                    .wp-block-media-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border: 1px solid $tertiary-colour;
                        border-radius: 2rem;
                        padding: 1rem;
                        margin: 0.5rem;
                        width: 11rem;
                        height: 11rem;
                        
                        h4 {
                            margin-bottom: 0.5rem;
                        }

                        // logos
                        .wp-block-media-text__media {
                            width: 40px;
                            height: 40px;
                            margin-bottom: 1rem;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .about-container .main-content .content-flex {

        .intro {
            flex-direction: column;
            align-items: center;
        }
    }
}