.home-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .center-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1, p {
            color: #333;
            z-index: 2;
        }

        p {
            padding: 0.5rem 1rem 0;
            text-align: center;
        }

        .animation {
            z-index: 1;
            position:absolute;
            max-width: 57.5rem;
        }
    }

    @media (max-width: 550px) {
        height: 40vh;
    }
}
